# Documentation/Infrastructure
/admin                                      @JustinyAhin @felixarntz
/tests/admin                                @JustinyAhin @felixarntz
/bin                                        @JustinyAhin @felixarntz
/.github                                    @JustinyAhin @felixarntz

# Focus: Database
/modules/database                           @olliejones
/tests/modules/database                     @olliejones
/tests/testdata/modules/database            @olliejones

# Focus: Images
/modules/images                             @adamsilverstein @getsource
/tests/modules/images                       @adamsilverstein @getsource
/tests/testdata/modules/images              @adamsilverstein @getsource

# Focus: JS & CSS
/modules/js-and-css                         @aristath @sgomes
/tests/modules/js-and-css                   @aristath @sgomes
/tests/testdata/modules/js-and-css          @aristath @sgomes

# Focus: Measurement
/modules/measurement
/tests/modules/measurement
/tests/testdata/modules/measurement

# Focus: Object Cache
/modules/object-cache                       @tillkruss @spacedmonkey
/tests/modules/object-cache                 @tillkruss @spacedmonkey
/tests/testdata/modules/object-cache        @tillkruss @spacedmonkey

# Module: WebP Uploads
/modules/images/webp-uploads                                                @adamsilverstein @felixarntz @mitogh
/tests/modules/images/webp-uploads                                          @adamsilverstein @felixarntz @mitogh
/tests/testdata/modules/images/webp-uploads                                 @adamsilverstein @felixarntz @mitogh

# Module: WebP Support Health Check
/modules/images/webp-support                                                @adamsilverstein @kirtangajjar @mitogh
/tests/modules/images/webp-support                                          @adamsilverstein @kirtangajjar @mitogh
/tests/testdata/modules/images/webp-support                                 @adamsilverstein @kirtangajjar @mitogh

# Module: Autoloaded Options Health Check
/modules/database/audit-autoloaded-options                                  @manuelRod
/tests/modules/database/audit-autoloaded-options                            @manuelRod
/tests/testdata/modules/database/audit-autoloaded-options                   @manuelRod

# Module: Enqueued Assets Health Check
/modules/js-and-css/audit-enqueued-assets                                   @manuelRod
/tests/modules/js-and-css/audit-enqueued-assets                             @manuelRod
/tests/testdata/modules/js-and-css/audit-enqueued-assets                    @manuelRod

# Module: Dominant Color Images
/modules/images/dominant-color-images                                       @pbearne @spacedmonkey
/tests/modules/images/dominant-color-images                                 @pbearne @spacedmonkey
/tests/testdata/modules/images/dominant-color-images                        @pbearne @spacedmonkey

# Module: Image Loading Optimization
/modules/images/image-loading-optimization                                  @westonruter
/tests/modules/images/image-loading-optimization                            @westonruter
/tests/testdata/modules/images/image-loading-optimization                   @westonruter
