# Documentation/Infrastructure
/docs										@justinahinon @felixarntz	

# Module: Images
/modules/webp-uploads						@adamsilverstein
/tests/modules/webp-uploads					@adamsilverstein

# Module: JavaScript

# Module: Object Caching

# Module: Measurement

# Module: Site Health
/modules/audit-enqueued-assets				@manuelRod @audrasjb
/tests/modules/audit-enqueued-assets		@manuelRod @audrasjb