<?xml version="1.0"?>
<ruleset name="WPP-WebPUploads">
	<description>WordPress Coding Standards for Modern Image Formats Plugin</description>

	<rule ref="../../tools/phpcs/phpcs.ruleset.xml"/>

	<config name="text_domain" value="webp-uploads"/>

	<file>.</file>
</ruleset>
