# Force LF for all text files
* text=auto eol=lf

# Improve highlighting for PHPStan stub files
*.stub linguist-language=PHP

# Hide diffs for Optimization Detective snapshots
plugins/*/tests/test-cases/*/expected.html linguist-generated=trues