<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Performance Plugin">
	<rule ref="phpcs.ruleset.xml"/>
	
	<config name="text_domain" value="performance-lab,default"/>

	<file>./admin</file>
	<file>./load.php</file>
	<file>./modules</file>
	<file>./server-timing</file>
	<file>./tests</file>

</ruleset>
