<?xml version="1.0"?>
<ruleset name="WPP-Performance">
	<description>WordPress Coding Standards for the Performance Features.</description>
	<rule ref="bin/phpcs/phpcs.ruleset.xml"/>

	<config name="text_domain" value="performance-lab,default"/>

	<file>.</file>

	<!--Ignore plugins directory-->
	<exclude-pattern>./plugins/*</exclude-pattern>
</ruleset>
