includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	paths:
		- load.php
		- includes/
		- plugins/
		- tests/
	bootstrapFiles:
		- load.php
		- bin/phpstan/constants.php
		- plugins/webp-uploads/load.php
	scanDirectories:
		- vendor/wp-phpunit/wp-phpunit/
	scanFiles:
		# These are needed due config.platform.php being 7.2 in composer.json and wordpress-stubs not including polyfills.
		# See <https://github.com/php-stubs/wordpress-stubs/issues/100>.
		- vendor/phpstan/php-8-stubs/stubs/ext/standard/str_contains.php
		- vendor/phpstan/php-8-stubs/stubs/ext/standard/str_starts_with.php
	stubFiles:
		- bin/phpstan/filtered-functions.stub
	dynamicConstantNames:
		- PERFLAB_OBJECT_CACHE_DROPIN_VERSION
	ignoreErrors:
		-
			# Ignore error related to PHP 8 using a GdImage but PHP 7 using a resource.
			message: '/^Parameter .+? of function .+? expects resource, GdImage\|resource given\.$/'
			path: plugins/dominant-color-images/*.php

		# The following ignored errors are all for tests. They are likely excessively strict and do not warrant being fixed.
		-
			identifier: argument.type
			path: tests/*
		-
			identifier: offsetAccess.nonArray
			path: tests/*
		-
			identifier: method.notFound
			path: tests/*
		-
			identifier: offsetAccess.notFound
			path: tests/*
		-
			identifier: encapsedStringPart.nonString
			path: tests/*
		-
			identifier: offsetAccess.invalidOffset
			path: tests/*
		-
			identifier: assign.propertyType
			path: tests/*
		-
			identifier: method.nonObject
			path: tests/*
		-
			identifier: cast.string
			path: tests/*
