includes:
	- build-cs/vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: 0
	paths:
		- admin/
		- load.php
		- includes/
		- plugins/
		- tests/
		- uninstall.php
	scanDirectories:
		- vendor/wp-phpunit/wp-phpunit/
	dynamicConstantNames:
		- PERFLAB_OBJECT_CACHE_DROPIN_VERSION
