<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="performance-lab">
			<directory suffix=".php">./tests</directory>
			<exclude>./tests/utils</exclude>
			<exclude>./tests/plugins</exclude>
		</testsuite>
		<testsuite name="test-plugin">
			<directory suffix=".php">./tests/plugins/test-plugin</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>ms-required</group>
		</exclude>
	</groups>
</phpunit>
