<phpunit
	colors="true"
	backupGlobals="false"
	bootstrap="tests/bootstrap.php"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	defaultTestSuite="performance-lab"
	>
	<testsuites>
		<testsuite name="performance-lab">
			<directory suffix=".php">plugins/performance-lab/tests</directory>
		</testsuite>
		<testsuite name="auto-sizes">
			<directory suffix=".php">plugins/auto-sizes/tests</directory>
		</testsuite>
		<testsuite name="dominant-color-images">
			<directory suffix=".php">plugins/dominant-color-images/tests</directory>
		</testsuite>
		<testsuite name="embed-optimizer">
			<directory suffix=".php">plugins/embed-optimizer/tests</directory>
		</testsuite>
		<testsuite name="optimization-detective">
			<directory suffix=".php">plugins/optimization-detective/tests</directory>
		</testsuite>
		<testsuite name="speculation-rules">
			<directory suffix=".php">plugins/speculation-rules/tests</directory>
		</testsuite>
		<testsuite name="webp-uploads">
			<directory suffix=".php">plugins/webp-uploads/tests</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>ms-required</group>
		</exclude>
	</groups>
</phpunit>
