<?xml version="1.0"?>
<ruleset name="WPP-SpeculationRules">
	<description>WordPress Coding Standards for Speculative Loading Plugin</description>

	<rule ref="../../bin/phpcs/phpcs.ruleset.xml"/>

	<config name="text_domain" value="speculation-rules"/>

	<file>.</file>
</ruleset>
