<?xml version="1.0"?>
<ruleset name="WPP-OptimizationDetective">
	<description>WordPress Coding Standards for Optimization Detective Plugin</description>

	<rule ref="../../bin/phpcs/phpcs.ruleset.xml"/>

	<config name="text_domain" value="optimization-detective"/>

	<file>.</file>
</ruleset>
