<?xml version="1.0"?>
<ruleset name="WPP-EmbedOptimizer">
	<description>WordPress Coding Standards for Embed Optimizer Plugin</description>

	<rule ref="../../tools/phpcs/phpcs.ruleset.xml"/>

	<config name="text_domain" value="embed-optimizer,default"/>

	<file>.</file>
</ruleset>
