<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	defaultTestSuite="default"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix="test.php">./tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
