<?xml version="1.0"?>
<ruleset name="WPP-ViewTransitions" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">
	<description>WordPress Coding Standards for View Transitions Plugin</description>

	<rule ref="../../tools/phpcs/phpcs.ruleset.xml"/>

	<config name="text_domain" value="view-transitions"/>

	<file>.</file>
</ruleset>
